th{
    color: white;
    font-size: 26px;
    background-color: green;
}
.first{
    background-color: lightgreen;
    font-size: 24px;
}
.second{
    background-color: lightskyblue;
    font-size: 24px;
}